.createProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
    flex: 0 0 400px;
    display: flex;
    align-items: center;
    height: 400px;    
  
}
.imageContainer img {
  width: 400px; 
  height: 400px; 
  object-fit: cover; 
}
.productModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #e2e2e2;
  font-family: Arial, Helvetica, sans-serif;
  width: 950px; 
  z-index: 1000; 
  border-radius: 5px;
  /* overflow-y:auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  max-height: calc(100vh - 40px); Добавить этот стиль */
}
.imageContainer {
  width: 400px; /* Фиксированная ширина */
  height: 400px; /* Фиксированная высота */
  flex: 0 0 400px;
  display: flex;
  align-items: center;
}

.name{
width: 100%;
}

.infoContainer {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columnContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}

.createProduct input {
  margin-bottom: 10px;
  padding: 8px;
  
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.column {
  flex:1;
  display: block;
  
}
.column input {
  margin-bottom: 10px;
}
.category {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 212px;
}
.description {
    width: 100%;
    height: 5em;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
.create{
  width: 100%;
}
.EditBtn{
  align-self: flex-end;
  background-color: #80808000;
  position: absolute;
}
.edIcon{
  width: 30px;
  height: 30px;
}